<link rel="stylesheet" type="text/css" href="view/stylesheet/{{ extension }}.css" />
					
<div class="order-manager">
	<form action="" method="post" enctype="multipart/form-data" id="manager-form">
	<input type="hidden" name="page" value="home" />
	<div class="orders-header">
		<h2><a href="https://opencart3x.ru/" target="_blank" title="Opencart3x.ru"><i class="fa fa-circle-o" style="background: none;color:#233746; cursor:pointer;"></i></a>{{ text_title }}</h2>
	
		{% if notice %} 
			<div class="manager-notice">
				<div>
					<span>{{ notice }}</span>
				</div>
			</div>
		{% endif %} 
				
		<div class="orders-buttons">
			{% if 'history' in buttons  and  history  and  manager_orders %}
				<span class="button-history disabled" title="{{ button_history}}"><i class="fa white fa-bars"></i></span>
			{% endif %} 
					
			{% if 'invoice' in buttons  and  invoice  and  manager_orders %}
				<span class="button-invoice disabled" target="_blank" title="{{ button_invoice}}"><i class="fa white fa-print"></i></span>
			{% endif %} 
					
			{% if 'shipping' in buttons  and  shipping  and  manager_orders %}
				<span class="button-shipping disabled" target="_blank" title="{{ button_shipping}}"><i class="fa white fa-truck"></i></span>
			{% endif %} 
					
			{% if 'delete' in buttons  and  delete  and  manager_orders %}
				<span class="button-delete disabled" title="{{ button_delete}}"><i class="fa red fa-trash"></i></span>
			{% endif %} 
					
			{% if 'create' in buttons  and  create %}
				<a href="{{ create}}" class="button-create" title="{{ button_create }}"><i class="fa green fa-plus"></i></a>
			{% endif %} 

			{% if 'minimize' in buttons %}
				<a class="button-minimize" title="{{ button_minimize}}"><i class="fa blue fa-minus"></i></a>
			{% endif %} 					
		</div>
	</div>
	<div class="orders-container">
   		<div class="orders-table">
    		<div class="table-header">
				{% if 'select' in columns  and  manager_orders %}
					<div class="select center text-center">
						<input type="checkbox" name="toggle" />
					</div>
				{% endif %} 
					
				{% if 'order_id' in columns %}
					<div class="order-id center text-center sortable">
            			<a href="{{ sort_order_id}}" title="{{ text_sort}}">
            				{{ column_order_id }} {% if sort == 'o.order_id' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
            			</a>
					</div>
				{% endif %} 
							
				{% if 'order_status_id' in columns %}
					<div class="order-status-id left text-left sortable">
              			<a href="{{ sort_order_status_id}}" title="{{ text_sort }}">
              				{{ column_order_status_id }} {% if sort == 'o.order_status_id' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
              			</a>
					</div>
				{% endif %} 
            				
				{% if 'customer' in columns %}
           			<div class="customer left text-left sortable">
            			<a href="{{ sort_customer}}" title="{{ text_sort }}">
            				{{ column_customer }} {% if sort == 'customer' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
            			</a>
            			{% if 'toggle' in buttons  and  manager_orders %}
            				<span id="toggle-paymentaddress" class="toggle-all expand" title="{{ button_toggle}}"><i class="fa green fa-arrow-circle-down"></i></span>
            			{% endif %} 
	           		</div>
    	    	{% endif %} 
            				            				
				{% if 'recipient' in columns %}
            		<div class="recipient left text-left sortable">
            			<a href="{{ sort_recipient}}" title="{{ text_sort }}">
            				{{ column_recipient }} {% if sort == 'recipient' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
            			</a>
            			{% if 'toggle' in buttons  and  manager_orders %}
             				<span id="toggle-shippingaddress" class="toggle-all expand" title="{{ button_toggle}}"><i class="fa green fa-arrow-circle-down"></i></span>
             			{% endif %} 
            		</div>
				{% endif %} 
							
				{% if 'date_added' in columns  %}
    	        	<div class="added center text-center sortable">
						<a href="{{ sort_date_added}}" title="{{ text_sort }}">
							{{ column_date_added }} {% if sort == 'o.date_added' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
              			</a>
					</div>
				{% endif %} 
							
				{% if 'date_modified' in columns %}
        	    	<div class="date-modified center text-center sortable">
						<a href="{{ sort_date_modified}}" title="{{ text_sort }}">
							{{ column_date_modified }} {% if sort == 'o.date_modified' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
						</a>
					</div>
				{% endif %} 
							
				{% if 'products' in columns %}
					<div class="products left text-left">
						{{ column_products}} 
						{% if 'toggle' in buttons  and  manager_orders %}
							<span id="toggle-products" class="toggle-all expand" title="{{ button_toggle}}"><i class="fa green fa-arrow-circle-down"></i></span>
						{% endif %} 
					</div>
				{% endif %} 
							
				{% if 'payment' in columns %}
					<div class="payment center text-center sortable">
              			<a href="{{ sort_payment}}" title="{{ text_sort }}">
              				{{ column_payment }} {% if sort == 'o.payment_method' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
              			</a>
             		</div>
				{% endif %} 
							
				{% if 'shipping' in columns %}
					<div class="shipping center text-center sortable">
              			<a href="{{ sort_shipping}}" title="{{ text_sort }}">
              				{{ column_shipping }} {% if sort == 'o.shipping_method' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
              			</a>
               		</div>
				{% endif %} 
							
				{% if 'subtotal' in columns %}
					<div class="subtotal center text-center sortable">
             			<a href="{{ sort_subtotal}}" title="{{ text_sort }}">
             				{{ column_subtotal }} {% if sort == 'subtotal' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
             			</a>
					</div>
				{% endif %} 
														
				{% if 'total' in columns %}
					<div class="total center text-center sortable">
             			<a href="{{ sort_total}}" title="{{ text_sort }}">
             				{{ column_total }} {% if sort == 'o.total' %} <i class="fa sort fa-{% if sort_order|lower == 'asc' %}{{ 'angle-up' }}{% else %}{{ 'angle-down' }}{% endif %}"></i>{% endif %} 
             			</a>
					</div>
				{% endif %} 
							
				{% if 'actions' in columns  and  'filter' in buttons  or  'clear' in buttons  or  (manager_orders  and  manager_orders.0.action) %}
					<div class="actions center text-center nowrap">
						{{ column_actions}}
					</div>
				{% endif %} 
			</div>
			
			{% if filters %} 
				<div class="order-filters">
					{% if 'select' in columns  and  manager_orders %}
        	    		<div class="select center text-center">&nbsp;</div>
					{% endif %} 
              				
					{% if 'order_id' in columns %}
    	        		<div class="order-id center text-center">
        	      			<input type="text" name="filter_order_id" value="{{ filter_order_id }}" class="center text-center" />
            	  		</div>
	            	{% endif %} 
              		
					{% if 'order_status_id' in columns %}
    	        		<div class="order-status-id left text-left">
            				<select name="filter_order_status_id">
              					<option value="*">{{ text_any}}</option>
                  				{% for key, item in statuses %}  
                 					<option value="{{ key }}"{% if filter_order_status_id and key == filter_order_status_id %}{{ ' selected="selected"' }}{% endif %}>
              							{{ item.name}} 
	                  				</option>
    	              			{% endfor %}
        	        		</select>
            	    	</div>
					{% endif %} 
             				
					{% if 'customer' in columns %}
        	    		<div class="customer left text-left">
            	  			<input type="text" name="filter_customer" value="{{ filter_customer }}" />
              			</div>
	            	{% endif %} 
              				              		
					{% if 'recipient' in columns %}
    	        		<div class="recipient left text-left">
        	      			<input type="text" name="filter_recipient" value="{{ filter_recipient }}" />
            	  		</div>
					{% endif %} 
                	
					{% if 'date_added' in columns %}
        	      		<div class="date-added center text-center">
            	  			<input type="text" name="filter_date_added" value="{{ filter_date_added }}" class="date center text-center" />
              			</div>
					{% endif %} 
              		
					{% if 'date_modified' in columns %}
        	      		<div class="date-modified center text-center">
            	  			<input type="text" name="filter_date_modified" value="{{ filter_date_modified }}" class="date center text-center" />
              			</div>
					{% endif %} 
              		
					{% if 'products' in columns %}
        	      		<div class="products left text-left">
        	      			<input type="text" name="filter_products" value="{{ filter_products }}" class="products left text-left" />
        	      		</div>
					{% endif %} 
              		
					{% if 'payment' in columns %}
						<div class="payment center text-center">
        	      			<select name="filter_payment">
            	    			<option value="*">{{ text_any }}</option>
                				{% for key, item in payments %}  
                					<option value="{{ item.name}}"{% if item.name == filter_payment %} {{ ' selected="selected"' }}{% endif %} >{{ item.name }}</option>
	                			{% endfor %} 
    	            		</select>
        	        	</div>
					{% endif %}  
                	
					{% if 'shipping' in columns %}
						<div class="shipping center text-center">
        	      			<select name="filter_shipping">
            	    			<option value="*">{{ text_any}}</option>
                				{% for key, item in shippings %}  
                					<option value="{{ item.name }}"{% if item.name == filter_shipping %} {{ ' selected="selected"' }}{% endif %} >{{ item.name }}</option>
	                			{% endfor %}
    	            		</select>
        	        	</div>
					{% endif %}  
                	                	
					{% if 'subtotal' in columns %}
    	          		<div class="subtotal center text-center">
        	      			<input type="text" name="filter_subtotal" value="{{ filter_subtotal }}" class="center text-center" />
            	  		</div>
					{% endif %} 
							
					{% if 'total' in columns %}
    	          		<div class="total center text-center">
        	      			<input type="text" name="filter_total" value="{{ filter_total }}" class="center text-center" />
            	  		</div>
					{% endif %} 
              		
					{% if 'actions' in columns  and  'filter' in buttons or 'clear' in buttons  or  (manager_orders  and  manager_orders.0.action ) %}
	       	      		<div class="actions center text-center nowrap">
            	  			{% if 'filter' in buttons %}
              					<a class="filter-orders" title="{{ button_filter }}"><i class="fa white fa-filter"></i></a>
              				{% endif %} 
              				
	              			{% if 'clear' in buttons %}
    	          				<a class="remove-filters" title="{{ button_clear }}"><i class="fa red fa-remove"></i></a>
        	      			{% endif %} 
            	  		</div>
					{% endif %} 
				</div>
			{% endif %}  
				
			{% if manager_orders %} 
           		{% for manager_order in manager_orders %} 
             		<div id="order-{{ manager_order.order_id}}" class="order-row">
						{% if 'select' in columns  and  manager_orders %}
              				<div class="select center text-center">
                				<input type="checkbox" name="selected[]" value="{{ manager_order.order_id}}"{% if manager_order.selected %}{{ ' checked="checked"' }}{% endif %}  />
                			</div>
                		{% endif %} 
                					
						{% if 'order_id' in columns %}
							<div class="order-id center text-center">
								{{ manager_order.order_id}} 
							</div>
						{% endif %} 
									
						{% if 'order_status_id' in columns %}
							<div class="order-status-id left text-left">
								<span class="status-text"{% if statuses[manager_order.order_status_id]['color'] %} {{ " style='color: "~statuses[manager_order.order_status_id]['color']~"'"}}{% endif %} >{% if manager_order.order_status_id != 0 %} {{ manager_order.status }}{% else %}{{ text_missing }}{% endif %}</span>
								{% if 'history' in buttons %}
									<i class="fa white change-status fa-history" title="{{ button_change}}"></i>
									<div class="manager-tooltip history-comment">
										<div class="container">
											<span>{{ text_add_info }}</span>
											<i class="fa fa-times close" title="{{ button_close }}"></i>
											{% if rptracking_status %} 
												<input type="text" name="trackings[{{ manager_order.order_id }}]" placeholder="{{ text_tracking }}" value="">
											{% endif %} 
											<textarea name="comments[{{ manager_order.order_id }}]" placeholder="{{ text_comment }}"></textarea>
										</div>
										<div class="arrow" style="display: none;"></div>
										<i class="fa white comment-status fa-comment" title="{{ button_comment }}" style="display: none;"></i>
									</div>
									<input type="hidden" name="statuses[{{ manager_order.order_id }}]" value="{{ manager_order.order_status_id }}">
								{% endif %} 
							</div>
						{% endif %} 
									
						{% if 'customer' in columns %}
							<div class="customer paymentaddress left text-left">
								{% if manager_order.customer %} 
									<span id="show-paymentaddress-{{ manager_order.order_id}}" title="{{ text_toggle_address }}" class="show-more">{{ manager_order.customer }}</span>
								{% endif %} {% else %}   
									<span class="unspecified">{{ text_unspecified }}</span>
								{% endif %} 
								{% if 'edit_customer' in buttons %}
									<a href="{{ manager_order.edit_customer}}" class="edit-customer pencil" title="{{ button_edit_customer }}"><i class="fa blue fa-pencil"></i></a>
								{% endif %} 
								{% if manager_order.payment_address %} 
									<div id="paymentaddress-{{ manager_order.order_id }}" class="more" style="display: none;">
										<div>
											{{ manager_order.payment_address }} 
										</div>
									</div>
								{% endif %} 
							</div>
						 
																			
						{% if 'recipient' in columns %}
							<div class="recipient shippingaddress left text-left">
								{% if manager_order.recipient %} 
									<span id="show-shippingaddress-{{ manager_order.order_id}}" title="{{ text_toggle_address }}" class="show-more">{{ manager_order.recipient }}</span>
								{% else %}   
									<span class="unspecified">{{ text_unspecified }}</span>
								{% endif %} 
								{% if 'edit_customer' in buttons  and  not 'customer' in columns %}
									<a href="{{ manager_order.edit_customer}}" class="edit-customer pencil" title="{{ button_edit_customer}}"><i class="fa blue fa-pencil"></i></a>
								{% endif %} 
								{% if manager_order.shipping_address %} 						
									<div id="shippingaddress-{{ manager_order.order_id }}" class="more" style="display: none;">
										<div>
											{{ manager_order.shipping_address }} 
										</div>
									</div>
								{% endif %} 
							</div>
						{% endif %}  
									
						{% if 'date_added' in columns %}
							<div class="date-added center text-center">
								{{ manager_order.date_added}} 
							</div>
						{% endif %} 
									
						{% if 'date_modified' in columns %}
							<div class="date-modified center text-center">
								{{ manager_order.date_modified}} 
							</div>
						{% endif %} 
									
						{% if 'products' in columns %}
							<div class="products left text-left">
								<span id="show-products-{{ manager_order.order_id}}" class="show-more" title="{{ text_toggle_products }}">{{ text_products|format(manager_order.quantity) }}</span>
								{% if manager_order.comment %} 
									<div class="manager-tooltip comment">
										<span class="container hover">
											{{ manager_order.comment }} 
										</span>
										<div class="arrow hover"></div>
										<i class="fa orange fa-exclamation"></i>
									</div>
								{% endif %} 							
								<div id="products-{{ manager_order.order_id }}" class="more" style="display: none;">
									<div>
										<ul>
											{% for product in manager_order.products %} 
												<li>
													<a href="{{ product.href }}">{{ product.name }}</a> x {{ product.quantity }} 
													{% if product.options %} 
														<span class="options">
															{% for option in product.options %} 
																{{ "- "~option.name~": "~option.value~"<br/>" }} 
															{% endfor %}
														</span>
													{% endif %} 
												</li>
											{% endfor %} 
										</ul>
									</div>
								</div>
							</div>
						{% endif %}  
											
						{% if 'payment' in columns %}
							<div class="payment center text-center">
								<span{% if payments[manager_order.payment_code]['color'] %} {{ " style='color: "~payments[manager_order.payment_code]['color']~"'"}} {% endif %} >
									{% if manager_order.payment_method %} 
										{{ manager_order.payment_method }} 
									{% elseif  manager_order.payment_code %} 
										{{ manager_order.payment_code }} 
									{% else %}   
										<span class="unspecified">{{ text_unspecified }}</span>
									{% endif %}  
								</span>
							</div>
						{% endif %}  
									
						{% if 'shipping' in columns %}
							<div class="shipping center text-center">
								<span{% if shippings[manager_order.shipping_code]['color'] %} {{ " style='color: "~shippings[manager_order.shipping_code]['color']~"'"}} {% endif %} >
									{% if manager_order.shipping_method %} 
										{{ manager_order.shipping_method }} 
									{% elseif  manager_order.shipping_code %} 
										{{ manager_order.shipping_code }} 
									{% else %}   
										<span class="unspecified">{{ text_unspecified }}</span>{% endif %} 
									 </span>
							</div>
						{% endif %}  
								
						{% if 'subtotal' in columns %}
							<div class="subtotal center text-center">
								{{ manager_order.subtotal}} 
							</div>
						{% endif %} 
																	
						{% if 'total' in columns %}
							<div class="total center text-center">
								{{ manager_order.total}} 
							</div>
						{% endif %} 
									
						{% if 'actions' in columns  and  manager_order.action %}
                			<div class="actions center text-center nowrap">
                				<div>
                					{% for action in manager_order.action %} 
                 						<a href="{{ action.href}}" class="action {{ action.type }}" title="{{ action.text }}"><i class="fa white fa-{{ action.type }}"></i></a>
                  					{% endfor %}
                  				</div>
                  			</div>
						{% endif %}  
					</div>
				{% endfor %} 
			{% else %}   
            	<div class="empty"><div>{{ text_empty_list }}</div></div>
			{% endif %}   
		</div>
    	{{ manager_pagination }} 
    </div>
    {% if 'history' in buttons %}	
		<select name="ocstatuses" class="ocstatuses" style="display: none;">
			{% for item in ocstatuses %} 
				<option value="{{ item.order_status_id }}">{{ item.name }}</option>
			{% endfor %}
		</select>
	{% endif %}  	
	</form>
</div>


<script type="text/javascript">

$(document).ready(function()
{
	
	$(".date").datetimepicker({pickTime: false, format: "DD.MM.YYYY"});

});

{% if 'history' in buttons %}

$(".order-manager .order-row .change-status").click(function()
{
	str = $(this).closest(".order-row").attr("id");
	values = str.split("-");
	id = values[1];	
	
	$(".order-manager .order-row .order-status-id .status-text").show();
	
	if ($(".order-manager #order-" + id + " .ocstatuses").is(':visible')) {
		$(".order-manager #order-" + id + " .ocstatuses").hide();
	} else {
		$(".order-manager .ocstatuses").hide();
		$(".order-manager .order-row .order-status-id .status-text").show();
		$(".order-manager .ocstatuses").val($(".order-manager #order-" + id + " .order-status-id input[name*='statuses']").val());
		$(".order-manager #order-" + id + " .order-status-id .status-text").before($(".order-manager .ocstatuses").detach());
		$(".order-manager #order-" + id + " .order-status-id .status-text").hide();
		$(".order-manager .ocstatuses").show();
		$(".order-manager .ocstatuses").focus();
	}
});

$(".order-manager .ocstatuses").change(function()
{
	str = $(this).closest(".order-row").attr("id");
	values = str.split("-");
	id = values[1];
	
	$(".order-manager #order-" + id + " .order-status-id input[name*='statuses']").val($(this).val());
	$(".order-manager #order-" + id + " .order-status-id .status-text").text($(".order-manager .ocstatuses option[value='" + $(this).val() + "']").text());
	$(".order-manager #order-" + id + " .history-comment .comment-status").show();
	$(".order-manager #order-" + id + " input[name*='selected']").attr('checked', true);
	$(".order-manager #order-" + id).addClass('changed');
	$(".order-manager .orders-buttons span").removeClass('disabled');
});

$(".order-manager .comment-status").click(function()
{
	str = $(this).closest(".order-row").attr("id");
	values = str.split("-");
	id = values[1];
			
	if ($(".order-manager #order-" + id + " .history-comment div").is(':visible')) {
		$(".order-manager #order-" + id + " .history-comment div").hide();
	} else {
		$(".order-manager .history-comment div").hide();	
		$(".order-manager #order-" + id + " .history-comment .container").css('margin-top', -($(".order-manager #order-" + id + " .history-comment .container").height() + 32));
		$(".order-manager #order-" + id + " .history-comment div").show();
		$(".order-manager #order-" + id + " .history-comment textarea").focus();
	}
});

$(".order-manager .history-comment .close").click(function()
{
	$(".order-manager .history-comment div").hide();
});

$(document).keyup(function(e)
{
	if (e.which == 27) {
		$(".order-manager .history-comment div").hide();
		$(".order-manager .ocstatuses").hide();
	}
});

$(".order-manager .button-history").click(function()
{
	if (!$(this).hasClass('disabled')) {
		url = "{{ history|raw|replace({'&amp;':'&'}) }}" + getFilters();
  		$('#manager-form').attr('action', url);
  		$('#manager-form').attr('target', '_self');
  		$('#manager-form').submit();
	}
});

{% endif %} 

{% if 'invoice' in buttons %}
	
$(".order-manager .button-invoice").click(function()
{
	if (!$(this).hasClass('disabled')) {
		url = "{{ invoice|raw|replace({'&amp;':'&'}) }}" + getFilters();
  		$('#manager-form').attr('action', url);
  		$('#manager-form').attr('target', '_blank');
  		$('#manager-form').submit();
	}
});
	
{% endif %} 

{% if 'shipping' in buttons %}
	
$(".order-manager .button-shipping").click(function()
{
	if (!$(this).hasClass('disabled')) {
		url = "{{ shipping|raw|replace({'&amp;':'&'}) }}" + getFilters();
  		$('#manager-form').attr('action', url);
  		$('#manager-form').attr('target', '_blank');
  		$('#manager-form').submit();
	}
});
	
{% endif %} 
			
{% if 'delete' in buttons %}

$(".order-manager .button-delete").click(function()
{
	if (!$(this).hasClass('disabled')) {
		if (confirm("{{ text_delete_confirm}}")) {
			url = "{{ delete|raw|replace({'&amp;':'&'}) }}" + getFilters();
	  		$('#manager-form').attr('action', url);
	  		$('#manager-form').attr('target', '_self');
	  		$('#manager-form').submit();
  	  	}
	}
});	

{% endif %} 

{% if 'minimize' in buttons %}

$(".order-manager .button-minimize").click(function()
{
	if ($(".order-manager .orders-container").is(':visible')) {
		$(".order-manager .orders-container").slideUp('fast');
	} else {
		$(".order-manager .orders-container").slideDown('fast');
	}
});	

{% endif %} 

{% if 'toggle' in buttons %}
	
$(".order-manager .toggle-all").click(function()
{
	str = $(this).attr("id");
	values = str.split("-");
	item = values[1];

	if ($(this).hasClass("expand")) {
		$(this).removeClass("expand");
		$("." + item + " .more").show();
	} else {
		$(this).addClass("expand");
		$("." + item + " .more").hide();
	}
});

{% endif %} 

{% if filters %} 

$(".order-manager .filter-orders").click(function()
{
	location = "{{ dashboard|raw|replace({'&amp;':'&'}) }}" +	getFilters();
});

$(".order-manager .order-filters input").keydown(function(e)
{
	if (e.keyCode == 13) {
		$(".order-manager .filter-orders").trigger('click');
	}
});
						
$(".order-manager .remove-filters").click(function()
{
	$(".order-manager .order-filters input").val("");
	$(".order-manager .order-filters select").val("*");
	$(".order-manager .filter-orders").trigger('click');
});

{% endif %} 
	
$(".order-manager .manager-tooltip.comment").hover(function()
{
	str = $(this).closest(".order-row").attr("id");
	values = str.split("-");
	id = values[1];
	
	$(".order-manager #order-" + id + " .manager-tooltip.comment span").css('margin-top', -($(".order-manager #order-" + id + " .manager-tooltip.comment span").height() + 32));
});
					
$(".order-manager .show-more").click(function()
{
	str = $(this).attr("id");
	values = str.split("-");
	item = values[1];
	id = values[2];
		
	if ($("#" + item + "-" + id).is(":visible")) {
		$("#" + item + "-" + id).hide();
	} else {
		$("#" + item + "-" + id).show();
	}				
});

$(".order-manager input[name='toggle']").click(function()
{
	$(".order-manager input[name*='selected']").attr('checked', this.checked);

	if (this.checked) {
		$(".order-manager .orders-buttons span").removeClass('disabled');
  	} else {
  		$(".order-manager .orders-buttons span").addClass('disabled');
  	}	
});

$(".order-manager input[name*='selected']").click(function()
{
	checked = $(".order-manager input[name*='selected']:checked").map(function(){ return this.value; }).toArray();

	if (checked != "") {
		$(".order-manager .orders-buttons span").removeClass('disabled');
  	} else {
  		$(".order-manager .orders-buttons span").addClass('disabled');
  	}
});
	
$(".order-manager input[name='limit']").keydown(function(e)
{
	if (e.keyCode == 13) {
		$(".order-manager .filter-orders").trigger('click');
	}
});

$(".order-manager select[name='mode']").change(function()
{
	$(".order-manager .filter-orders").trigger('click');	
});
	
$(".order-manager textarea[name^='comments']").keydown(function(e)
{
	if (((e.keyCode == 10) || (e.keyCode == 13)) && e.ctrlKey) {
		$(".order-manager .history-comment .close").trigger('click');
	}
});

{% if rptracking_status %} 
	
$(".order-manager input[name^='trackings']").keydown(function(e)
{
	if (e.keyCode == 13) {
		$(".order-manager .history-comment .close").trigger('click');
	}
});

{% endif %} 

function getFilters()
{
	url = "";
	
	var filter_order_id = $(".order-manager input[name='filter_order_id']").val();
	
	if (filter_order_id) {
		url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
	}
		
	var filter_customer = $(".order-manager input[name='filter_customer']").val();
	
	if (filter_customer) {
		url += '&filter_customer=' + encodeURIComponent(filter_customer);
	}
			
	var filter_recipient = $(".order-manager input[name='filter_recipient']").val();
	
	if (filter_recipient) {
		url += '&filter_recipient=' + encodeURIComponent(filter_recipient);
	}
			
	var filter_order_status_id = $(".order-manager select[name='filter_order_status_id']").val();
	
	if (filter_order_status_id && (filter_order_status_id != '*')) {
		url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
	}	
	
	var filter_date_added = $(".order-manager input[name='filter_date_added']").val();
	
	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}
	
	var filter_date_modified = $(".order-manager input[name='filter_date_modified']").val();
	
	if (filter_date_modified) {
		url += '&filter_date_modified=' + encodeURIComponent(filter_date_modified);
	}
		
	var filter_products = $(".order-manager input[name='filter_products']").val();
	
	if (filter_products) {
		url += '&filter_products=' + encodeURIComponent(filter_products);
	}
			
	var filter_payment = $(".order-manager select[name='filter_payment']").val();
	
	if (filter_payment && (filter_payment != '*')) {
		url += '&filter_payment=' + encodeURIComponent(filter_payment);
	}
		
	var filter_shipping = $(".order-manager select[name='filter_shipping']").val();
	
	if (filter_shipping && (filter_shipping != '*')) {
		url += '&filter_shipping=' + encodeURIComponent(filter_shipping);
	}
		
	var filter_subtotal = $(".order-manager input[name='filter_subtotal']").val();

	if (filter_subtotal) {
		url += '&filter_subtotal=' + encodeURIComponent(filter_subtotal);
	}
			
	var filter_total = $(".order-manager input[name='filter_total']").val();

	if (filter_total) {
		url += '&filter_total=' + encodeURIComponent(filter_total);
	}
		
	var limit = $(".order-manager input[name='limit']").val();

	if (limit) {
		url += '&limit=' + encodeURIComponent(limit);
	}
		
	var mode = $(".order-manager select[name='mode']").val();

	if (mode) {
		url += '&mode=' + encodeURIComponent(mode);
	}
	
	return url;
}

</script>